@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");
body {
  /* font-family: "Brandon", Brandon; */
  overflow-x: hidden !important;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, Noto Sans, sans-serif;
}
#___gatsby {
  overflow-x: hidden !important;
}
h1,
h2,
h3,
h4 {
  font-family: "Brandon", Brandon;
}
.titulo {
  font-family: "Brandon", Brandon;
  font-size: 75px;
  line-height: 1.1em;
  font-weight: 700;
}
.contenedor-body {
  max-width: 1140px;
}
.body {
  background: #031fff;
  color: white;
}
.section-1 {
  background: #fffd02;
  color: white;
}
.imagen_home {
  width: 500px;
}
hr {
  opacity: 1 !important;
}
ul li {
  list-style: none;
  padding: 0 !important;
}
ul {
  padding: 0 !important;
}
.contenedor-footer {
  padding-top: 30px;
  max-width: 1140px !important;
}
.col-sm-4 {
  padding: 0px !important;
  margin: 0px !important;
}
.img-check {
  width: 16px;
  margin-right: 10px;
}
a {
  text-decoration: none;
}
.row-imagenes {
  justify-content: center !important;
  align-items: center !important;
}
.titulo_h2 {
  font-size: 60px !important;
}
.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 20px !important;
}
.alinearContenido {
  justify-content: center;
  align-items: center;
}
.titulo2 {
  font-size: 60px;
}

/* Modal estilo */
/* .modal-dialog {
  max-width: 100% !important;
} */
.modal-content {
  background-color: inherit !important;
}
.modal-backdrop.show {
  opacity: 1 !important;
}
.modal-backdrop {
  background-color: rgba(0, 0, 0, 0.8) !important;
}
.modal-body {
  text-align: center !important;
}
.navbar-brand {
  margin: 0px !important;
}
/* estilo seciones mkt */
.inicioo {
  align-items: center;
  justify-content: center;
  height: 500px;
  background: #0100ff;
}
.letrasBanner {
  text-align: left;
  color: #ffffff;
  font-size: 75px;
  font-weight: 700;
}

.descripcionBanner {
  color: #ffffff;
  width: 70%;
  text-align: justify;
}
.tituloseccion2Mkt {
  color: #fffe00;
  font-size: 60px;
  line-height: 1.1em;
}
.form-control {
  border-radius: 0px !important;
}
.efecto-hover1:hover {
  color: blue;
}
.efecto-hover1 {
  color: #ff5a83;
}
.pos-f-t {
  display: flex;
  justify-content: end;
}
.item-menu {
  color: #fff;
}
.item-menu:hover {
  color: #cdcd41;
}
.item-menu:active {
  color: #cdcd41;
}
/* Responsive */
@media (max-width: 600px) {
  .titulo {
    font-size: 20px !important;
  }
  #columnas {
    padding: 10px;
  }
  h2 {
    font-size: 25px !important;
  }
  .imagen-menu {
    width: 50% !important;
  }
}
/* estilo tripulacion */

.inicioo {
  align-items: center;
  justify-content: center;
  height: 500px;
  background: #0100ff;
}
.letrasBanner {
  text-align: left;
  color: #ffffff;
  font-size: 70px;
  font-weight: 700;
}

.descripcionBanner {
  color: #ffffff;
  width: 80%;
  text-align: justify;
}
.tituloseccion2Mkt {
  color: #fffe00;
  font-size: 60px;
  line-height: 1.1em;
}

.contenedor-body {
  max-width: 1140px;
}
.body {
  background: #031fff;
  color: white;
}

.descripTriSec2 {
  color: #54595f;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.3em;
  text-align: left;
  padding-bottom: 10px;
}

.uneteTriSec2 {
  color: #ff5983;
  font-size: 30px;
  font-weight: 700;
  text-align: left;
}

.seccion5Titulo {
  padding-left: 100px;
  color: #280077;
  font-size: 60px;
  line-height: 1.1em;
  text-align: left;
}

.seccion5descripcion {
  padding-left: 100px;
  color: #280077;
  font-size: 23px;
  font-weight: 300;
  line-height: 1.1em;
  text-align: left;
}

.contenedor-body5 {
  background: #fffe00;
}
.contenedor-body6 {
  background: #280077;
}

.seccion6Titulo {
  padding-right: 100px;
  color: #ff5983;
  font-size: 60px;
  line-height: 1.1em;
  text-align: left;
}

.seccion6descripcion {
  padding-right: 100px;
  color: #ff5983;
  font-size: 23px;
  font-weight: 300;
  line-height: 1.1em;
  text-align: left;
}

.contenedor-body7 {
  background: #ff5983;
}

.seccion7Titulo {
  padding-left: 100px;
  color: #fff;
  font-size: 60px;
  line-height: 1.1em;
  text-align: left;
}

.seccion7descripcion {
  color: #fff;
  font-size: 23px;
  font-weight: 300;
  line-height: 1.1em;
  text-align: left;
  padding-left: 100px;
}

.contenedor-body8 {
  padding-left: 100px;
  padding-right: 100px;
  background: #0100ff;
}

.seccion8Titulo {
  padding-right: 100px;
  color: #fffe00;
  font-size: 60px;
  line-height: 1.1em;
  text-align: left;
}

.seccion8descripcion {
  padding-right: 100px;
  color: #fffe00;
  font-size: 23px;
  font-weight: 300;
  line-height: 1.1em;
  text-align: left;
}

.div-imagen {
  position: relative;
}

.desvanecer {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.contain {
  border-radius: 20px;
  box-shadow: none;
  background: rgba(1, 0, 255, 0.64);
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.div-imagen:hover .desvanecer {
  opacity: 1;
}

.div-imagen:hover .contain {
  opacity: 3;
}

.nombreEquipo {
  font-size: 25px;

  font-weight: 700;
  color: white;
}

.descripcionEquipo {
  color: white;
  font-size: 20px;
  font-weight: 200;
}

#iconos {
  color: white;
}

#iconos:hover {
  color: yellow;
}
.swiper-slide{
  text-align: center;
}